USE [evaluaciondb]
GO

/****** Object:  Table [dbo].[permisos]    Script Date: 6/6/2025 09:06:58 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[permisos](
	[id_permiso] [bigint] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[fecha_ins] [datetime] NOT NULL,
	[usuario_ins] [varchar](30) NOT NULL,
	[fecha_upd] [datetime] NULL,
	[usuario_upd] [varchar](30) NULL,
 CONSTRAINT [PK_permisos] PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO



USE [evaluaciondb]
GO

/****** Object:  Table [dbo].[usuarios]    Script Date: 6/6/2025 09:07:20 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[usuarios](
	[id_usuario] [bigint] NOT NULL,
	[nombre_usuario] [varchar](30) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[nombres_apellidos] [varchar](255) NOT NULL,
	[activo] [int] NULL,
	[password] [varchar](500) NOT NULL,
	[fecha_ins] [datetime] NOT NULL,
	[usuario_ins] [varchar](30) NOT NULL,
	[fecha_upd] [datetime] NULL,
	[usuario_upd] [varchar](30) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_usuarios] UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


USE [evaluaciondb]
GO

/****** Object:  Table [dbo].[usuarios_permisos]    Script Date: 6/6/2025 09:07:37 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[usuarios_permisos](
	[id_relacion] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NULL,
	[id_permiso] [bigint] NULL,
 CONSTRAINT [PK_usuarios_permisos] PRIMARY KEY CLUSTERED 
(
	[id_relacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[usuarios_permisos]  WITH CHECK ADD  CONSTRAINT [FK7og942t8ygy07ma8pfujyavkf] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permisos] ([id_permiso])
GO

ALTER TABLE [dbo].[usuarios_permisos] CHECK CONSTRAINT [FK7og942t8ygy07ma8pfujyavkf]
GO

ALTER TABLE [dbo].[usuarios_permisos]  WITH CHECK ADD  CONSTRAINT [FKlfbi098lodagredf2ed7dof7a] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO

ALTER TABLE [dbo].[usuarios_permisos] CHECK CONSTRAINT [FKlfbi098lodagredf2ed7dof7a]
GO


INSERT INTO [dbo].[permisos]([id_permiso],[nombre],[fecha_ins],[usuario_ins],[fecha_upd],[usuario_upd])     
VALUES (1	,'USUARIOS_VER',	'2025-06-05 00:00:00.000',	'admin',	NULL,	NULL);
INSERT INTO [dbo].[permisos]([id_permiso],[nombre],[fecha_ins],[usuario_ins],[fecha_upd],[usuario_upd])     
VALUES (2	,'USUARIOS_EDITAR',	'2025-06-05 00:00:00.000',	'admin',	NULL,	NULL);
INSERT INTO [dbo].[permisos]([id_permiso],[nombre],[fecha_ins],[usuario_ins],[fecha_upd],[usuario_upd])     
VALUES (3	,'USUARIOS_REPORTES_PERMISOS',	'2025-06-05 00:00:00.000',	'admin',	NULL,	NULL);



INSERT INTO [dbo].[usuarios]([id_usuario],[nombre_usuario],[email],[nombres_apellidos],[activo],[password],[fecha_ins],[usuario_ins],[fecha_upd],[usuario_upd])
VALUES (1,	'admin',	'hgalterno@gmail.com',	'Administrador',	1	,'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3',	'2025-06-06 07:57:04.047',	'',	'2025-06-06 07:57:04.047',''	);
INSERT INTO [dbo].[usuarios]([id_usuario],[nombre_usuario],[email],[nombres_apellidos],[activo],[password],[fecha_ins],[usuario_ins],[fecha_upd],[usuario_upd])
VALUES (2,	'otro',	'hgalterno@gmail.com',	'Otro Usuario',	1	,'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3',	'2025-06-06 07:57:04.047',	'',	'2025-06-06 07:57:04.047',''	);


INSERT INTO [dbo].[usuarios_permisos]([id_usuario] ,[id_permiso]) VALUES  (1,1);
INSERT INTO [dbo].[usuarios_permisos]([id_usuario] ,[id_permiso]) VALUES  (1,2);
INSERT INTO [dbo].[usuarios_permisos]([id_usuario] ,[id_permiso]) VALUES  (1,3);


